{% extends "writer/navbar.html" %}

{% block content %}

<br>

{% for articles in all_articles %}

<div class="container bg-white shadow-md p-5 form-layout">
  <h3>{{articles.title}}</h3>
  <br>
  {{articles.content}}
  <br> <br>
  Posted: {{articles.date_posted}}
  
  <br> <br>
    {% if articles.date_posted != articles.date_edited %}
        Edited on:  {{articles.date_edited}}
    {% endif %}
    <hr>
    {% if articles.is_premium %}
    ⭐<strong>PREMIUM</strong>
        <br><br>
        {% else %}
        <strong>FREE</strong>
        <br> <br>
    {% endif %}
  <a href="{% url "update-articles"  articles.id %}" class="btn btn-success">Update Article</a>
  <br> <br>
  <a href="{% url "delete-articles"  articles.id %}" class="btn btn-danger">Delete Article</a>
</div>
  <br>
{% endfor %} 

{% endblock content %}
