{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GAIUS THOUGHTS</title>

    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width-device-width, initial-scale=1, maximum-scale=1"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://bootswatch.com/5/lux/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
  </head>

  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light justify-content-center"
    >
      <a class="navbar-brand main-heading"> &nbsp; GAIUS THOUGHTS </a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a
              class="btn btn-secondary navbar-btn"
              type="button"
              href="{% url 'writer-dashboard' %}"
              >Dashboard</a
            >
          </li>

          <li class="nav-item">
            <a
              class="btn btn-secondary navbar-btn"
              type="button"
              href="{% url 'create-article' %}"
              >Create Article</a
            >
          </li>

          <li class="nav-item">
            <a
              class="btn btn-secondary navbar-btn"
              type="button"
              href="{% url 'my-articles' %}"
              >Articles</a
            >
          </li>

          <li class="nav-item">
            <a
              class="btn btn-secondary navbar-btn"
              type="button"
              href="{% url 'login' %}"
              >Account Management</a
            >
          </li>

          <li class="nav-item">
            <a
              class="btn btn-secondary navbar-btn"
              type="button"
              href="{% url 'user_logout' %}"
              >Logout</a
            >
          </li>

        </ul>
      </div>
    </nav>

    {% block content %}
    {% endblock content %}

    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"
  ></script>

  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"
  ></script>
  </body>
</html>
