{% load static %} 
<html lang="en">
  <head>
    <title>GAIUS THOUGHTS | Email Verification</title>

    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width-device-width, initial-scale=1, maximum-scale=1"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://bootswatch.com/5/lux/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
  </head>

  {% block content %}
  <br />
  <div class="container bg-white shadow md p-5 form-layout">
    <h4>Email Verified</h4>
      <hr>
    <p>
      Account Verification Success
    </p>
    <a href="{% url 'login' %}">Login</a>
  </div>
  {% endblock content %}