{% extends "account/password_reset.html" %} 
{% load crispy_forms_tags %}
{% block content %}

<div class="container bg-white shadow md p-5 form-layout">

<h3>Password reset completed</h3>

<p>
  Your password has been successfully reset. You can now log in with your new
  password.
</p>

<a href="{% url 'login' %}" class="btn btn-success w-100">Go back to Login</a>
<br><br>


<div class="alert alert-dismissible alert-danger">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>If you didn't request a password reset, please contact us at</strong> <a href="mailto:kingosenitosin@gmail.com" class="alert-link">kingosenitosin@gmail.com</a>
</div>
  </div>
{% endblock content %}
