{% load static %} {% load crispy_forms_tags %}
<html lang="en">
  <head>
    <title>GAIUS THOUGHTS | Password Reset</title>

    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width-device-width, initial-scale=1, maximum-scale=1"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://bootswatch.com/5/lux/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
  </head>
  {% block content %}
  <br />
  <div class="container bg-white shadow md p-5 form-layout">
    <h3>Password Reset</h3>

    <p>
      Forgotten your Password? Please enter your email beolow and we will email
      you a link to reset your Password
    </p>

    <form action="" method="POST">
      {% csrf_token %} {{ form|crispy }}
      <input
        type="submit"
        value="Reset Password"
        class="btn btn-success w-100"
      />
      <br />
      <br />

      <p>Don't have an account? <a href="{% url "register" %}">Sign Up</p>
    </form>
  </div>
  {% endblock content %}
</html>
